/* heading #323232*/
.text_normal_black{
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 160%;
    color: #323232;

}
.text_body{
font-family: Roboto;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 20px;
letter-spacing: 0em;
text-align: left;
color: #323232;

}
.text_normal_white{
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 160%;
    color: #FEFEFE;
}

.bg_gradient{
    background: linear-gradient(135deg, #20AEE0 0%, #0065AF 100%);
    box-shadow: 0px 16px 24px #F2F2F2;
    border-radius: 16px;
}
.bg_white{
    background: #FEFEFE;
    box-shadow: 0px 16px 24px #F2F2F2;
    border-radius: 16px;
}

.plain_gradient{
    background: linear-gradient(135deg, #20AEE0 0%, #0065AF 100%);
}

.bg_plain_white{
    background-color: #FEFEFE;
}