.bottom_area{
    display: flex;
    /* flex: 1; */
    flex-direction: column;
    background-color: white;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    padding-left: 16px;
    padding-right: 16px;
  }